/*limpando as formatações padrões*/
*{
	margin:0;
	padding:0;
}
body{
	font-size:1em;
	font-family: "trebuchet MS",Helvetica,sans-serif;
	background:#e6e6e6;
}
/*GERAL*/
	a{
		text-decoration:none;
	}
/*cabeçalho*/
	#cabecalho{
		background-color: #cac1ca;
		padding: 2px;
		text-align: left;
	}
	#area_logo,#area_menu{
		padding: 0 px;
	}
	h1{
		color:#4e4e4e;
		font-size: 2.5em;
		padding: 0px;
		margin-left: 10px;
	}
	.tituloduascores{
		color:white;
	}
	a:link, a:visited{
		color:#4e4e4e;
		padding: 8px 12px;
	


	}
	a:hover{
		color: #bf47af;
		/*background: white;*/
	}
/*pagina index*/
.circle {
	background-color: #aaa;
	border-radius: 60%;
	width: 450px;
	height: 450px;
	overflow: hidden;
	position: relative;
}  
.circle img {
	position: center;
	bottom: -15%;
	width: 100%;
}
.foto {
	position: absolute; 
	left: 300px; 
	top: 200px; 
}
.oi{
	font-size:4em;
	font-family: "trebuchet MS",Helvetica,sans-serif;
	position:absolute; 
	left: 800px; 
	top: 150px; 
	margin-left: -10px;
}
.apresetacao{
	font-size:1em;
	font-family: "trebuchet MS",Helvetica,sans-serif;
	position: absolute; 
	left: 810px; 
	top: 320px; 
}
.click{
	font-size:1.5em;
	font-family: "trebuchet MS",Helvetica,sans-serif;
	position:absolute; 
	left: 800px; 
	top: 500px; 
	margin-left: -3px;
}
.acesso{
	Margin:10px;
}

/*pagina contato*/
.TelaContato {
	position:absolute; 
	margin-left: 400px;
	margin-top: 200px;
}
h2{
	position: absolute; 
	color:#4e4e4e;
	font-family: "trebuchet MS",Helvetica,sans-serif;
	font-size: 3em;
	margin-left: 1150px;
	margin-top: -50px;

}
.format1{
	position: absolute; 
	color:#bf47af;
	font-family: "trebuchet MS",Helvetica,sans-serif;
	font-size: 1em;
	font-style:italic;
	margin-left:400px;
	margin-top: 140px;
}
.texto{
	font-size:0.9em;
	font-family: "trebuchet MS",Helvetica,sans-serif;
	position: relative; 
	margin-top: 70px;

	}
	h3{
		position: relative; 
		color:#4e4e4e;
		font-family: "trebuchet MS",Helvetica,sans-serif;
		font-size: 2.2em;
		margin-left: -100px;
		margin-top: -70px;
	}
	.centro{
		margin-left: 450px;
	}
	h4{
		position: absolute; 
		color:#4e4e4e;
		font-family: "trebuchet MS",Helvetica,sans-serif;
		font-size: 1.2em;
		margin-left: -150px;
		margin-top: 40px;
	}

	.texto1{
		font-size:0.9em;
		font-family: "trebuchet MS",Helvetica,sans-serif;
		position: relative; 
		margin-top: 70px;
	}
	.onepageformat{

		position: relative; 
		margin-top: 100px;		
	}
	



/*rodapé*/
.footer{
	background:#ffffff;
	padding:30px 10px;
	text-align:center;
	margin-top: 800px;
}


